<div class="container text-center py-5">
  <h1 class="text-success">Cadastro realizado com sucesso!</h1>
  <p>Obrigado por compartilhar suas informações, {{nome}}.</p>
  <a href="/" class="btn btn-outline-primary mt-3">Voltar</a>
</div>
